@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Nunito', sans-serif;
}
body {
  color: #3f3d56;
  font-weight: normal;
  font-size: 20px;
}
.main {
  height: 84vh;
  background-image: linear-gradient(#fff8f9, #ffe6ec);
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
}

/* navigation */
.nav {
  height: 8vh;
  background-color: pink;
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}
.navbar .logo {
  height: 7vh;
}
.navbar .right-nav {
  display: flex;
  justify-content: space-around;
  width: 280px;
}
.right-nav li {
  display: flex;
  align-items: center;
  height: 100%;
}
.right-nav a:link {
  color: #3f3d56;
}
.right-nav li:hover {
  /* ask how to do the tab thing */
  background-color: #ffeaef;
}

/* footer */
.bottom {
  background-color: pink;
  display: flex;
  align-items: center;
}
.footer {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.footer .footer-icon {
  display: flex;
  justify-content: space-around;
  width: 280px;
}
.footer-icon li {
  margin-right: 32px;
  font-size: 32px;
}
.footer-icon .envelope .fa-envelope-open {
  display: none;
}
.envelope:hover {
  cursor: pointer;
}
.envelope:hover .fa-envelope {
  display: none;
}
.envelope:hover .fa-envelope-open {
  display: block;
}

/* home page */
.left-home {
  width: 560px;
}
.right-home {
  width: 560px;
}
.right-home img {
  width: 100%;
}

/* About page */
.left-about {
  width: 600px;
  margin-right: 80px;
}
.left-about p {
  text-indent: 16px;
  padding-bottom: 16px;
}
.about-box {
  width: 320px;
}
.about-box-title {
  font-size: 16px;
  text-indent: 16px;
}
.about-icon {
  display: flex;
  justify-content: space-around;
  background-color: #d4e0ee;
  border: 2px solid #3f3d56;
  margin-bottom: 8px;
  padding: 12px 0;
  border-top-left-radius: 8px;
  box-shadow: 8px 8px 5px pink;
}
.right-about img {
  width: 80px;
}

/* projects page */
.project-main {
  background-image: linear-gradient(#fff8f9, #ffe6ec);
}
.project-main .main-container {
  display: block;
  padding-bottom: 40px;
}
.my-projects {
  text-align: center;
  padding: 20px;
}
.project-title-container {
  width: 50%;
}
.project-desc {
  background-color: #d4e0ee;
  padding: 12px;
}
.project-1 {
  background-image: url(../assets/images/mirror-practice.png);
  margin-bottom: 40px;
}
.project-2 {
  background-image: url(https://picsum.photos/600/400);
}
.project-container {
  height: 440px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 680px 440px;
  display: flex;
  align-items: center;
}

/* contact page */
.main-contact {
  width: 80vw;
  margin: 0 auto;
}
.contact-me {
  text-align: center;
}
.contact-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80vw;
  height: 60vh;
  background-image: url(../assets/images/contact-image.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 600px;
}
.form-container {
  width: 520px;
}
.form-container .form {
  width: 100%;
  padding: 16px;
  margin-bottom: 1em;
  font-size: 16px;
  resize: none;
  border-style: solid;
}
.form-container .submit {
  background-color: pink;
  font-size: 20px;
  padding: 12px;
}
.form,
.submit {
  border-radius: 8px;
  border-color: #d4e0ee;
}

@media (max-width: 992px) {
  .main {
    min-height: 84vh;
    height: auto;
  }
  .main-container {
    flex-direction: column;
  }
  /* home page */
  .left-home {
    width: 80vw;
  }
  .right-home {
    width: 80vw;
    max-width: 600px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 992px) and (min-width: 600px) {
  /* about page */
  .left-about {
    width: 80vw;
    margin: 8px 0;
  }
  .right-about {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100vw;
  }
  .about-box {
    width: 30vw;
    max-width: 240px;
    margin: 8px;
  }
  .about-icon {
    flex-direction: column;
    align-items: center;
    height: 320px;
    border-top-right-radius: 8px;
  }
  .about-box-title {
    display: flex;
    justify-content: center;
    text-indent: 0;
  }

  /* projects page */
  .project-title {
    background-color: rgb(255, 248, 249, 0.5);
  }
  /* contact page */
  .form-container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  /* about page */
  .left-about {
    width: 80vw;
    margin: 8px 0;
  }
  .right-about {
    display: block;
    padding: 10px 0;
  }
  .about-icon {
    flex-direction: row;
  }
  /* projects page */
  .project-main {
    min-height: 84vh;
    height: auto;
  }
  .project-container {
    background: none;
    height: auto;
  }
  .project-title-container {
    width: 80vw;
  }
  /* contact page */
  .main-contact {
    background-image: url(../assets/images/contact-image.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }
  .contact-container {
    background: none;
    margin-top: 160px;
  }
}
