@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Nunito', sans-serif;
}
body {
  color: #3f3d56;
  font-weight: normal;
  font-size: 20px;
}

.nav {
  height: 8vh;
  background-color: pink;
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}
.navbar .logo {
  height: 7vh;
}
.navbar .right-nav {
  display: flex;
  justify-content: space-around;
  width: 280px;
}
.right-nav li {
  display: flex;
  align-items: center;
  height: 100%;
}
.right-nav a:link {
  color: #3f3d56;
}
.right-nav li:hover {
  /* ask how to do the tab thing */
  background-color: #ffeaef;
}

.main {
  height: 84vh;
  background-image: linear-gradient(#fff8f9, #ffe6ec);
  display: flex;
  align-items: center;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.left-home {
  width: 560px;
}
.right-home {
  width: 560px;
}
.right-home img {
  width: 100%;
}

.bottom {
  background-color: pink;
  display: flex;
  align-items: center;
}
.footer {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.footer .footer-icon {
  display: flex;
  justify-content: space-around;
  width: 280px;
}
.footer-icon li {
  margin-right: 32px;
  font-size: 32px;
}
.footer-icon .envelope .fa-envelope-open {
  display: none;
}
.envelope:hover {
  cursor: pointer;
}
.envelope:hover .fa-envelope {
  display: none;
}
.envelope:hover .fa-envelope-open {
  display: block;
}

/* Aboutme web page */

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.left-about {
  width: 600px;
}
.right-about {
  width: 340px;
}
.about-box-title {
  font-size: 16px;
  padding-left: 16px;
}
.about-icon {
  display: flex;
  justify-content: space-around;
  background-color: #d4e0ee;
  border: 2px solid #3f3d56;
  margin-bottom: 8px;
  padding: 12px 0;
  border-top-left-radius: 8px;
  box-shadow: 8px 8px 5px pink;
}
.right-about img {
  width: 80px;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }
  .right-home {
    padding-top: 40px;
  }
}
